.service-history-card {
  align-items: center;
  border-radius: var(--radius-card);
  box-shadow: 0px 2px 7px rgba(0, 0, 0, 0.15);
  cursor: pointer;
  display: flex;
  height: auto;
  justify-content: space-between;
  margin: 12px;
  min-width: 340px;
  padding: 24px;
  position: relative;
  width: 565px;
}

.service-history-card:hover {
  box-shadow: 0px 2px 13px rgba(0, 0, 0, 0.15);
}

.service-history-card-description {
  display: block;
  min-width: 240px;
}

.icon {
  height: 28px;
  width: 28px;
}

.resolved {
  fill: var(--color-success);
}

.investigating {
  fill: var(--color-warning);
}
